In [1]:
import pandas as pd

# Load dataset
df = pd.read_csv("../preprocessing/sample_dataset.csv")

# Preview first rows
print("First 5 rows:")
display(df.head())

# Basic info
print("\nDataset Info:")
print(df.info())

# Summary statistics
print("\nSummary Statistics:")
display(df.describe())

# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

# Correlation matrix (to see feature relationships)
print("\nCorrelation Matrix:")
display(df.corr())

First 5 rows:

,user_id,daily_screen_time,session_duration,app_switches,night_activity,label
0,1,120,10,15,20,0
1,2,45,5,5,0,0
2,3,300,20,40,60,1
3,4,600,30,60,120,1
4,5,200,15,25,30,0

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user_id            5 non-null      int64
 1   daily_screen_time  5 non-null      int64
 2   session_duration   5 non-null      int64
 3   app_switches       5 non-null      int64
 4   night_activity     5 non-null      int64
 5   label              5 non-null      int64
dtypes: int64(6)
memory usage: 372.0 bytes
None

Summary Statistics:

,user_id,daily_screen_time,session_duration,app_switches,night_activity,label
count,5.000000,5.00000,5.000000,5.000000,5.00000,5.000000
mean,3.000000,253.00000,16.000000,29.000000,46.00000,0.400000
std,1.581139,215.85875,9.617692,21.621748,46.69047,0.547723
min,1.000000,45.00000,5.000000,5.000000,0.00000,0.000000
25%,2.000000,120.00000,10.000000,15.000000,20.00000,0.000000
50%,3.000000,200.00000,15.000000,25.000000,30.00000,0.000000
75%,4.000000,300.00000,20.000000,40.000000,60.00000,1.000000
max,5.000000,600.00000,30.000000,60.000000,120.00000,1.000000

Missing Values:
user_id              0
daily_screen_time    0
session_duration     0
app_switches         0
night_activity       0
label                0
dtype: int64

Correlation Matrix:

,user_id,daily_screen_time,session_duration,app_switches,night_activity,label
user_id,1.000000,0.523729,0.575396,0.548454,0.474100,0.288675
daily_screen_time,0.523729,1.000000,0.985640,0.982379,0.997416,0.833117
session_duration,0.575396,0.985640,1.000000,0.997830,0.985404,0.854242
app_switches,0.548454,0.982379,0.997830,1.000000,0.985608,0.886621
night_activity,0.474100,0.997416,0.985404,0.985608,1.000000,0.860268
label,0.288675,0.833117,0.854242,0.886621,0.860268,1.000000